@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  -webkit-tap-highlight-color: transparent;
  background-color: #181823 !important;
}

.no-scroll-bar::-webkit-scrollbar {
  display: none;
}
